# Работа с Excel

Материалы:
* Макрушин С.В. Лекция 7: Работа с Excel
* https://docs.xlwings.org/en/stable/quickstart.html
* https://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/xlwings/Excel_Formatting.ipynb#search_text

## Задачи для совместного разбора

1. На листе "Рецептура" файла `себестоимостьА_в1.xlsx` для области "Пшеничный хлеб" рассчитать себестоимость всех видов продукции.

In [ ]:
import pandas as pd
import xlwings as xw
import csv
import numpy as np

In [ ]:
wb = xw.Book('себестоимостьА_в1.xlsx')
sht = wb.sheets['Рецептура']
res = []
for i in range(7, 11):
    res.append(sum(np.array([0 if i == None else i for i in sht.range(f'G{i}:O{i}').value]) * np.array(sht.range('G14:O14').value)))
res

[21.48, 16.525, 17.423000000000002, 18.085]

2. Результаты расчетов 1.1 сохранить в отдельном столбце области "Пшеничный хлеб"

In [ ]:
sht.range('P5').value = 'Себестоимость'
sht.range('P7:P10').options(transpose = True).value = res

3. Приблизить форматирование столбца, добавленного в задаче 2 к оформлению всей области.

4. Выполнить 3 с помощью "протягиваемых" формул.

## Лабораторная работа 7.1

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [ ]:
reviews = pd.read_csv('reviews_sample.csv')
recipes = pd.read_csv('recipes_sample.csv')[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]

In [ ]:
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [ ]:
recipes

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,267661,zurie s holey rustic olive and cheddar bread,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,386977,zwetschgenkuchen bavarian plum cake,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,103312,zwiebelkuchen southwest german onion cake,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,486161,zydeco soup,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,298512,cookies by design cookies on a stick,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [ ]:
s1 = reviews.sample(int(reviews.shape[0] * 0.05))
s1

,Unnamed: 0,user_id,recipe_id,date,rating,review
17579,608849,1384367,18897,2014-06-23,5,"We had bran flakes in the pantry, so that&#039..."
55908,1034944,754827,96523,2008-11-29,5,These were great for the lunch box! My girlfri...
101960,136796,567380,44888,2012-02-08,5,These wings were delicious. I marinated the w...
108910,525566,1803588747,107281,2014-12-31,5,I love this recipe! My dad was a chef for a Me...
18276,726312,203072,42164,2005-03-18,5,I made this dip for a potluck at work and got ...
...,...,...,...,...,...,...
75670,434822,25941,34335,2006-01-18,5,This is a wonderful recipe. I had a boneless ...
29214,489648,198601,150898,2009-02-21,0,"I used nearly double the spinach, and it didn'..."
110817,256065,102058,81286,2009-01-31,4,"This went down very well, creamy and rich, eas..."
94787,938306,430767,82102,2009-06-01,5,Yummy! I liked the idea of using the food cho...
33038,104828,729861,25332,2008-02-20,5,This is a keeper. The whole family really enjo...

In [ ]:
s2 = recipes.sample(int(recipes.shape[0] * 0.05))
s2

,id,name,minutes,submitted,description,n_ingredients
15782,55600,leg of lamb in the crock pot,485,2003-03-04,i love lamb and was happy to have discovered t...,NaN
3668,62255,bread machine indian bread,190,2003-05-15,i can't remember where i got this recipe from ...,NaN
8218,278836,creamy chicken pizza topping,90,2008-01-14,a local pizza joint makes a creamy chicken piz...,13.0
21572,174003,princess chicken,45,2006-06-20,from nikibone for zaar world tour.,13.0
8867,503292,cuban coffee cafecito,15,2013-07-06,"no cuban meal is complete without a cafecito, ...",NaN
...,...,...,...,...,...,...
5100,246787,cheeky chocolate smoothie,7,2007-08-15,healthy low gl smoothie for those chocolate cr...,7.0
3017,142029,big and chewy chocolate chip cookies,10,2005-10-20,"huge, soft, chewy, i just can't say anymore. ...",9.0
26290,378832,summer bbq potato salad with chipotle dressing,285,2009-06-25,this potato salad is a blend of flavors italia...,15.0
15249,169737,kebab koutbane,380,2006-05-25,this typically moroccan dish is an excellent h...,10.0
15553,491504,la style lobster rolls,30,2012-12-09,this is a variation on the lobster rolls serve...,9.0

In [ ]:
with pd.ExcelWriter('recipes.xlsx') as writer:
    s1.to_excel(writer, 'Отзывы')
    s2.to_excel(writer, 'Рецепты')

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [ ]:
wb = xw.Book('recipes.xlsx')
sht = wb.sheets['Рецепты']
sht.range('H1').value = 'seconds_assign'
sht.range('H2').options(transpose = True).value = [i * 60 for i in s2['minutes']]

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [ ]:
sht.range('I1').value = 'seconds_formula'
fml = sht.range('I2').formula = '=D2*60'
sht.range('I2:I1501').formula = fml

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [ ]:
sht.range('H1:I1').font.bold = True
sht.range('H1:I1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [ ]:
for i in range(2, 1502):
    if sht.range(f'D{i}').value < 5:
        sht.range(f'D{i}').color = (0, 128, 0)
    elif 5 <= sht.range(f'D{i}').value <= 10:
        sht.range(f'D{i}').color = (255, 255, 0)
    else:
        sht.range(f'D{i}').color = (255, 0, 0)

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [ ]:
sht.range('J1').value = 'n_reviews'
fml = sht.range('J2').formula = '=COUNTIF(Отзывы!D1:D6335, B2)'
sht.range('J2:J1501').formula = fml

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [ ]:
def validate():
    wb = xw.Book('recipes.xlsx')
    sht = wb.sheets['Отзывы']
    for i in range(2, 6336):
        if sht.range(f'F{i}').value < 0 or sht.range(f'F{i}').value > 5 or sht.range(f'D{i}').value not in wb.sheets['Рецепты'].range('B2:B1501').value:
            sht.range(f'A{i}:Z{i}').color = (255, 0, 0)
validate()

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
with open('recipes_model.csv') as file:
    reader = csv.reader(file, delimiter = '\t')
    wb = xw.Book('recipes_model.xlsx')
    sht = wb.sheets['Модель']
    sht.range('A2').value = list(reader)

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
n = sht.range('A2').current_region.last_cell.row - 1
for x in range(2, n + 2):
    b = sht.range(f'B{x}').value
    c = sht.range(f'C{x}').value.upper()
    h = sht.range(f'H{x}').value
    i = sht.range(f'I{x}').value
    j = f'{b} {c}'
    key = sht.range(f'F{x}').value
    if key == 'PK':
        j += ' PRIMARY KEY'
    elif key == 'FK':
        j += f' REFERENCES {h}({i})'
    req = sht.range(f'D{x}').value
    if req == 'Y' and key != 'PK':
        j += ' NOT NULL'
    sht.range(f'J{x}').value = j    
wb.save('recipes_model.xlsx')
wb.close()

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
wb = xw.Book('recipes_model1.xlsx')
sht = wb.sheets['Модель']
sht.range('A2:J2').color = (0, 204, 255)
sht.autofit('c')
sht.range('A2:J2').api.Font.Bold = True
sht.range('A2:J2').api.AutoFilter()

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)

In [ ]:
wb.sheets.add('Cтатистика')
sht = wb.sheets['Статистика']
model = sht['A1:B18'].value
m_t = pd.DataFrame(model[1:], columns = model [0])
gr = m_t.groupby('Сущность').count()
sht['A1'].value = gr
figure = gr.plot.bar().get_figure()